.tradeSection {
	background: inherit;
	padding-top: 182px;
	padding-bottom: 71px;
}
.tradeWraper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 40px;
}
.tradeTitle {
	font-size: 28px;
	line-height: 129%;
}
.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
}
.tradeIcon {
	width: 56px;
	height: 56px;
	flex-shrink: 0;
}
.rightList {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}
.rightListTitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	margin-bottom: 8px;
	text-transform: none;
}
.rightListText {
	font-size: 14px;
	line-height: 121%;
	opacity: 0.8;
}
.rightItems {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

@media screen and (min-width: 768px) {
	.tradeSection {
		padding-bottom: 76px;
	}
	.tradeTitle {
		font-size: 36px;
		line-height: 127%;
	}
	.rightItems {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.rightList {
		width: calc((100% - 32px) / 2);
	}
}
@media screen and (min-width: 1280px) {
	.tradeSection {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	.tradeWraper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 128px;
	}
	.left {
		width: 305px;
	}
	.right {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 21px;
	}
	.tradeTitle {
		font-size: 44px;
	}
}
